


.footer{
    display: flex;
    width: 1440px;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo-header-footer);
    border-top: 5px solid var(--color-lineas);
}